# PMOD 1A
set_io -nowarn serial_sck  4
set_io -nowarn serial_mosi 2
set_io -nowarn P1A3       47
set_io -nowarn P1A4       45
set_io -nowarn P1A7        3
set_io -nowarn serial_cs  48
set_io -nowarn resetn_in  46
set_io -nowarn serial_cts 44

# PMOD 1B
set_io -nowarn P1B1       43
set_io -nowarn P1B2       38
set_io -nowarn P1B3       34
set_io -nowarn P1B4       31
set_io -nowarn P1B7       42
set_io -nowarn P1B8       36
set_io -nowarn P1B9       32
set_io -nowarn P1B10      28

# PMOD 2
set_io -nowarn P2_1       27
set_io -nowarn P2_2       25
set_io -nowarn P2_3       21
set_io -nowarn P2_4       19
set_io -nowarn P2_7       26
set_io -nowarn P2_8       23
set_io -nowarn P2_9       20
set_io -nowarn P2_10      18